/* src/css/newsletter.css */

body {
    font-family: satoshi;
    text-align: right;
    align-items: center;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #010101;
    box-shadow: 0 2px 4px #9f9f9f1a;

}

.inputEmail {
    width: 300px;
    padding: 10px;
    color: #100f12;
    border-bottom: 2px solid #fff;
    margin: 20px 0;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.inputEmail::placeholder {
    color: rgb(255, 255, 255);
}




button[type="submit"] {
    margin: 30px;
    background-color: #ac1b1b;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    width: auto;
    align-self: flex-end;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #721717;
}