/* Responsive Sidebar Styles */
.sidebar {
  width: 250px; /* Default width for desktop */
  background-color: #100f12;
  color: #fff;
  padding: 20px;
}

@media (max-width: 768px) {
  /* Adjust for smaller screens, e.g., tablets and mobile devices */
  .sidebar {
    width: 100%; /* Full width for mobile */
    text-align: center;
    padding: 10px;
  }
}

.sidebar {
  border-right: #333 1px solid;

  padding: 10px 50px 10px 35px;
}

a {
  text-decoration: none;
  color: #fff;
}

.imageLink {
  display: flex;
  justify-content: center;
}
.genreImages {
  padding: 3px;
  border-radius: 50%;
  background-color: #fff;
}
.image {
  width: "70%";
}
.links {
  color: #ac1b1b;
  text-decoration: none;
}
.ListItem {
  border-radius: 22px;
}
.active .ListItem {
  background-color: #ac1b1b;
  color: white;
}

.bigText {
  color: #ac1b1b;
  font-size: 30;
}
