body {
  background: url("../../assets/LoginPage.png");
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 10px 10px 50px 0px rgba(255, 255, 255, 0.41);
  min-height: 500px;
  margin: 0px auto;
  padding: 0px;
}
.left-side-image {
  background: url("../../assets/login-left.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  min-height: 500px;
  border-radius: 20px 0px 0px 20px;
}
.form-login {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
}
.form-login input {
  width: 100%;
  border-radius: 8px;
  background: rgba(165, 87, 87, 0.49);
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  outline: none;
  border: none;
}
.form-login input::placeholder {
  color: white;
}
.form-group {
  flex-basis: 100%;
  display: flex;
  max-width: 300px;
  width: 100%;
}
.form-login button {
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #ac1b1b;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.form-login a {
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
  align-self: flex-end;
  margin-right: 30px;
}
